<div class="jumbotron container">
  <h1 class="display-4">Bienvenido!</h1>
  <p class="lead">Al inscribirse en nuestra base de datos recibira los pedidos de cotizacion relacionados con su tipo de producto.</p>
  <hr class="my-4">
  <p>Si no posee usuario</p>
  <a class="btn btn-primary btn-lg" href="/alta" role="button">Alta proveedor</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Iniciar sesion</a>
</div>
